@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}

@()(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("pages.applicationDelayed.title")) {

    <h1 class="form-title heading-large" id="pageHeading">@Messages("pages.applicationDelayed.description")</h1>

    @govHelpers.form(action = controllers.userJourney.routes.NewEmploymentController.submitApplicationDelayed) {

        <p>@Messages("pages.applicationDelayed.para1")</p>
        <p>@Messages("pages.applicationDelayed.para2")</p>


        <button class="button" type="submit" id="continue" >@Messages("app.common.continue")</button>
    }
}
