@import helpers.templates.payeInputRadioGroup
@import models.view.CompanyPension
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}

@(companyPensionForm: Form[CompanyPension])(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("pages.companyPension.title")) {
    @govHelpers.errorSummary(
        Messages("app.common.errorSummaryLabel"), companyPensionForm
    )

    <h1 class="form-title heading-xlarge" id="pageHeading">@Messages("pages.companyPension.heading")</h1>

    @govHelpers.form(action = controllers.userJourney.routes.EmploymentController.submitCompanyPension) {

        <p>@Messages("pages.companyPension.setUpPensionIntro")</p>

        <ul class="list list-bullet">
            <li>@Messages("pages.companyPension.setUpPension1")</li>
            <li>@Messages("pages.companyPension.setUpPension2")</li>
        </ul>

        <div class="inline form-group">
            @payeInputRadioGroup(
                companyPensionForm("pensionProvided"),
                Seq(
                    "true"->Messages("app.common.yes"),
                    "false"->Messages("app.common.no")
                ),
                '_legend -> Messages("pages.companyPension.legend"),
                '_legendID -> "companyPension",
                '_helpText -> None,
                '_labelAfter -> true,
                '_labelClass -> "block-label",
                '_groupClass -> "inline"
            )
        </div>

        <button class="button" type="submit" id="continue" >@Messages("app.common.saveAndContinue")</button>
    }
}
