@import helpers.templates.payeInputRadioGroup
@import models.view.EmployingStaff
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}

@(employingStaffForm: Form[EmployingStaff])(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("pages.employingStaff.title")) {
    @govHelpers.errorSummary(
        Messages("app.common.errorSummaryLabel"), employingStaffForm
    )
    <h1 class="form-title heading-xlarge" id="pageHeading">@Messages("pages.employingStaff.heading")</h1>
    @govHelpers.form(action = controllers.userJourney.routes.EmploymentController.submitEmployingStaff) {
        <p>@Messages("pages.employingStaff.employingStaffRulesIntro")</p>
        <ul class="list list-bullet">
            <li>@Messages("pages.employingStaff.employingStaffRules1")</li>
            <li>@Messages("pages.employingStaff.employingStaffRules2")</li>

        </ul>

        <div class="inline form-group">
            @payeInputRadioGroup(
                employingStaffForm("isEmployingStaff"),
                Seq(
                    "true"->Messages("app.common.yes"),
                    "false"->Messages("app.common.no")
                ),
                '_legend -> Messages("pages.employingStaff.legend"),
                '_legendID -> "employingStaff",
                '_helpText -> None,
                '_labelAfter -> true,
                '_labelClass -> "block-label",
                '_groupClass -> "inline"
            )
        </div>
        <button class="button" type="submit" id="continue" >@Messages("app.common.saveAndContinue")</button>
    }
}