@import models.view.FirstPayment
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import helpers.templates.{inputRadioGroupHidden, hiddenDetails}

@(firstPaymentForm: Form[FirstPayment])(implicit request: Request[_], messages: Messages)

@hiddenDetailsContent = {
    <p>@Messages("pages.firstPayment.firstPaymentRulesIntro")</p>
    <ul class="list-bullet">
        <li>@Messages("pages.firstPayment.firstPaymentRules1")</li>
        <li>@Messages("pages.firstPayment.firstPaymentRules2")</li>
        <li>@Messages("pages.firstPayment.firstPaymentRules3")</li>
    </ul>
    <br>
    <p>@Messages("pages.firstPayment.firstPaymentRulesEnd")</p>
}

@main_template(title = Messages("pages.firstPayment.title")) {
    @govHelpers.errorSummary(
    Messages("app.common.errorSummaryLabel"), firstPaymentForm
    )
    <h1 class="form-title heading-xlarge" id="pageHeading">@Messages("pages.firstPayment.heading")</h1>
    <p>@Messages("pages.firstPayment.intro")</p>
    @govHelpers.form(action = controllers.userJourney.routes.EmploymentController.submitSubcontractors) {
        <h2 class="form-title heading-medium">@Messages("pages.firstPayment.question")</h2>
        <div class="inline form-group">
            @inputRadioGroupHidden(
            firstPaymentForm("paymentMade"),
            Seq(
                "true"->Messages("pages.firstPayment.yes"),
                "false"->Messages("pages.firstPayment.no")
            ),
            Seq(
                "true"->Html(Messages("pages.firstPayment.hiddenElem.yes")),
                "false"->Html(Messages("pages.firstPayment.hiddenElem.no"))
            ),
            '_legend -> Messages("pages.firstPayment.legend"),
            '_legendID -> "paymentMade",
            '_helpText -> None,
            '_labelAfter -> true,
            '_labelClass -> "block-label",
            '_groupClass -> "inline"
            )
        </div>


        @hiddenDetails("firstPaymentRules", Messages("pages.firstPayment.firstPaymentRulesSummary"), hiddenDetailsContent)
        <button class="button" type="submit" id="continue" >@Messages("app.common.saveAndContinue")</button>
    }
}