@import helpers.templates.{payeInputRadioGroup, payeErrorSummary}
@import models.view.Subcontractors
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import helpers.templates.linkNewWindow

@(subcontractorsForm: Form[Subcontractors])(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("pages.subcontractors.description")) {
    @payeErrorSummary(
        Messages("app.common.errorSummaryLabel"), subcontractorsForm, dataJourney=Some("Subcontractors")
    )
    <h1 class="form-title heading-large" id="pageHeading">@Messages("pages.subcontractors.description")</h1>
    @govHelpers.form(action = controllers.userJourney.routes.EmploymentController.submitSubcontractors) {
        <p>@Messages("pages.subcontractors.nameRulesIntro")</p>
        <p>
            @Messages("pages.subcontractors.findout1")
            @linkNewWindow("https://www.gov.uk/what-is-the-construction-industry-scheme#work-covered-by-cis", Messages("pages.subcontractors.findout2"), "subcontractors").
        </p>
        <div class="inline form-group">
            @payeInputRadioGroup(
                subcontractorsForm("hasContractors"),
                Seq(
                    "true"->Messages("app.common.yes"),
                    "false"->Messages("app.common.no")
                ),
                '_legend -> Messages("pages.subcontractors.description"),
                '_legendID -> "subcontractors",
                '_helpText -> None,
                '_labelAfter -> true,
                '_labelClass -> "block-label",
                '_groupClass -> "inline"
            )
        </div>
        <button class="button" type="submit" id="continue" >@Messages("app.common.saveAndContinue")</button>
    }
}