@import helpers.templates.payeInputRadioGroup
@import models.view.Subcontractors
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}

@(subcontractorsForm: Form[Subcontractors])(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("pages.subcontractors.title")) {
    @govHelpers.errorSummary(
    Messages("app.common.errorSummaryLabel"), subcontractorsForm
    )
    <h1 class="form-title heading-xlarge" id="pageHeading">@Messages("pages.subcontractors.heading")</h1>
    @govHelpers.form(action = controllers.userJourney.routes.EmploymentController.submitSubcontractors) {
        <p>@Messages("pages.subcontractors.nameRulesIntro")</p>
        <p>@Messages("pages.subcontractors.nameRulesIntro2")</p>
        <div class="inline form-group">
            @payeInputRadioGroup(
                subcontractorsForm("hasContractors"),
                Seq(
                    "true"->Messages("app.common.yes"),
                    "false"->Messages("app.common.no")
                ),
                '_legend -> Messages("pages.subcontractors.legend"),
                '_legendID -> "subcontractors",
                '_helpText -> None,
                '_labelAfter -> true,
                '_labelClass -> "block-label",
                '_groupClass -> "inline"
            )
        </div>
        <details>
            <summary class="summary">@Messages("pages.subcontractors.detailsSummary")</summary>
            <div class="panel-indent">
                <div class="form-group">
                    <p>@Messages("pages.subcontractors.detailsList1")</p>
                    <ul class="list list-bullet">
                        <li>@Messages("pages.subcontractors.detailsList1Element1")</li>
                        <li>@Messages("pages.subcontractors.detailsList1Element2")</li>
                    </ul>
                </div>
                <div class="form-group">
                    <p>@Messages("pages.subcontractors.detailsList2")</p>
                    <ul class="list list-bullet">
                        <li>@Messages("pages.subcontractors.detailsList2Element1")</li>
                        <li>@Messages("pages.subcontractors.detailsList2Element2")</li>
                        <li>@Messages("pages.subcontractors.detailsList2Element3")</li>
                        <li>@Messages("pages.subcontractors.detailsList2Element4")</li>
                        <li>@Messages("pages.subcontractors.detailsList2Element5")</li>
                        <li>@Messages("pages.subcontractors.detailsList2Element6")</li>
                    </ul>
                </div>
                <p>@Messages("pages.subcontractors.detailsList3")</p>
                <ul class="list list-bullet">
                    <li>@Messages("pages.subcontractors.detailsList3Element1")</li>
                    <li>@Messages("pages.subcontractors.detailsList3Element2")</li>
                    <li>@Messages("pages.subcontractors.detailsList3Element3")</li>
                    <li>@Messages("pages.subcontractors.detailsList3Element4")</li>
                    <li>@Messages("pages.subcontractors.detailsList3Element5")</li>
                    <li>@Messages("pages.subcontractors.detailsList3Element6")</li>
                </ul>
            </div>
        </details>
        <button class="button" type="submit" id="continue" >@Messages("app.common.saveAndContinue")</button>
    }
}