/* Box with turquoise background and white text */
/* Used for transaction end pages, and Bank Holidays */

/*
	colours below taken from GOV.UK frontend toolkit
	#fff      - $white - https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/colours/_palette.scss#L55
	#28a197   - $turquoisee - https://github.com/alphagov/govuk_frontend_toolkit/blob/master/stylesheets/colours/_palette.scss#L42

*/

/*
	NOTE: adding this file locally while I try to get this added to HMRC AF,
	when this lives in AF please delete thie file and it's import in scrs-styling.css
*/

.govuk-box-highlight {
  margin: 1em 0;
  padding: 2em 1em;
  color: #fff;
  background: #28a197; 
  text-align: center;
}