@import 'global-header.css';
@import 'form-validation.css';

/* Custom box shaded for confirmation page */
.box-shaded-grey {
    margin: 1em 0;
    padding: 2em 1em;
    color: white;
    background: #6f777b;
    text-align: center;
}

/* position labels above input fields in cascading forms */
label.cascading span {
	display: block;
}

.table--borderless th {
  border: none;
}

.spaced-below {
  padding-bottom: 10px;
}

.spaced-above {
  padding-top: 20px;
}
