
/* position labels above input fields in cascading forms */
label.cascading span {
	display: block;
}


/* hide error summary */
.error-summary {
	display: none;
}

/* show error summary when required */
.error-summary--show  {
	display: block;
}

.table--borderless th {
  border: none;
}

.confirmation-banner {
    color: #FFFFFF;
}

.spaced-below {
  padding-bottom: 10px;
}

.spaced-above {
  padding-top: 20px;
}
