@import 'global-header.css';
@import 'form-validation.css';

/* position labels above input fields in cascading forms */
label.cascading span {
	display: block;
}

.table--borderless th {
  border: none;
}

.spaced-below {
  padding-bottom: 10px;
}

.spaced-above {
  padding-top: 20px;
}
