@import models.view.CompletionCapacity
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.templates.inputRadioGroupHidden

@(completionCapacityForm: Form[CompletionCapacity])(implicit request: Request[_], messages: Messages)

@otherHidden = {
    @govHelpers.input(
        completionCapacityForm("completionCapacityOther"),
        '_inputClass -> "form-control-1-1",
        '_labelClass -> "form-label cascading",
        '_label -> Messages("pages.completionCapacity.other.label")
    )
}

@main_template(title = messages("pages.completionCapacity.title")) {

    @govHelpers.errorSummary(
        messages("app.common.errorSummaryLabel"), completionCapacityForm
    )

    <h1 class="form-title heading-xlarge" id="pageHeading">@messages("pages.completionCapacity.heading")</h1>

    @govHelpers.form(action = controllers.userJourney.routes.CompletionCapacityController.submitCompletionCapacity()) {

        <div class="form-group">
            @inputRadioGroupHidden(
                completionCapacityForm("completionCapacity"),
                Seq("director" -> messages("pages.completionCapacity.director"),
                    "agent"    -> messages("pages.completionCapacity.agent"),
                    "other"    -> messages("pages.completionCapacity.other")),
                Seq("other" -> otherHidden),
                '_idHidden -> "other",
                '_classHidden -> "panel panel-indent",
                '_labelClass -> "block-label radio-label",
                '_legend -> Messages("pages.completionCapacity.legend"),
                '_legendClass -> "visuallyhidden"
            )
        </div>

        <div class="form-group">
            <button class="button" type="submit" id="continue" >@messages("app.common.saveAndContinue")</button>
        </div>
    }
}