@(ackRef: String)(implicit request: Request[_], messages: Messages)

@main_template(title = messages("pages.confirmation.description"), backButton = false) {

    <div class="govuk-box-highlight">
        <h1 class="heading-xlarge" id="pageHeading">@messages("pages.confirmation.description")</h1>
        <p class="font-large">
            @messages("pages.confirmation.reference")
            <br>
            <strong>@ackRef</strong>
        </p>
    </div>

    <br />

    <div class="form-group">
        <h2>@messages("pages.confirmation.heading2")</h2>

        <p>@messages("pages.confirmation.p1")</p>
        <ul class="bullets">
            <li>@messages("pages.confirmation.bullet1")</li>
            <li>@messages("pages.confirmation.bullet2")</li>
        </ul>
    </div>

    <div class="form-group">
        <p>@messages("pages.confirmation.p2")</p>
    </div>

    <br>

    <form action="@controllers.userJourney.routes.DashboardController.dashboard()" method="get">
        <div class="form-group">
            <button class="button" type="submit" id="continue" >@messages("app.common.finish")</button>
        </div>
    </form>

    <a href="@controllers.userJourney.routes.EligibilityController.questionnaire()">@messages("app.common.whatDidYouThink")</a>
}