@import helpers.templates.{hiddenDetails, oneOfManyErrorWrapper, payeErrorSummary}
@import models.view.Ninos
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}

@(ninoForm: Form[Ninos], directorNames: Map[String, String])(implicit request: Request[_], messages: Messages)

@formContent = {
    <fieldset>
        <legend>@messages("pages.directorDetails.legend")</legend>

        @helper.repeat(ninoForm("nino")) { ninoField =>
            <div class="form-field">
                @govHelpers.input(
                    ninoField,
                    '_inputClass -> "form-control-1-2 form-control--block",
                    '_labelClass -> "form-label",
                    '_inputHint -> {if(ninoField.name.filter("0123456789".toSet) == "0"){ messages("pages.directorDetails.input.hint-text") } else {""}},
                    '_label -> directorNames.getOrElse(ninoField.name.filter("0123456789".toSet),"Error fetching name")
                )
            </div>
        }
    </fieldset>
}

@hiddenDetailsContent = {

}

@defining(if(directorNames.size > 1) {"MultipleDirectors"} else {"1Director"}) { msgSuffix =>
    @main_template(title = messages(s"pages.directorDetails.title$msgSuffix")) {

        @payeErrorSummary(
            messages("app.common.errorSummaryLabel"), ninoForm
        )

        <h1 class="form-title heading-xlarge" id="pageHeading">@Html(messages(s"pages.directorDetails.heading$msgSuffix"))</h1>

        <div class="form-group">
            <div class="panel-indent">
                <p>@messages("pages.directorDetails.information.indent")</p>
            </div>
        </div>

        @govHelpers.form(action = controllers.userJourney.routes.DirectorDetailsController.submitDirectorDetails()) {

            @oneOfManyErrorWrapper(ninoForm, formContent)

            <div class="form-group">
                @hiddenDetails("directors", Messages("pages.directorDetails.information.dropdown.header"), hiddenDetailsContent)
            </div>

            <div class="form-group">
                <button class="button" type="submit" id="continue" >@messages("app.common.saveAndContinue")</button>
            </div>
        }

    }
}

