@import helpers.templates.{hiddenDetails, oneOfManyErrorWrapper, payeErrorSummary, payeInput}
@import models.view.Ninos
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import helpers.templates.linkNewWindow

@(ninoForm: Form[Ninos], directorNames: Map[String, String])(implicit request: Request[_], messages: Messages)

@formContent = {
    <fieldset>
        <legend class="visuallyhidden">@messages("pages.directorDetails.legend")</legend>

        @helper.repeat(ninoForm("nino")) { ninoField =>
            <div class="form-field">
                @payeInput(
                    ninoField,
                    '_inputClass -> "form-control-1-2 form-control--block",
                    '_labelClass -> "form-label",
                    '_inputHint -> {if(ninoField.name.filter("0123456789".toSet) == "0"){ messages("pages.directorDetails.input.hint-text") } else {""}},
                    '_label -> messages("pages.directorDetails.name-suffix", directorNames.getOrElse(ninoField.name.filter("0123456789".toSet),"Error fetching name"))
                )
            </div>
        }
    </fieldset>
}

@hiddenDetailsContent = {
    <p>
        @Messages("pages.common.companiesHouse.hiddenIntro.1", Messages("pages.directorDetails.hiddenIntro.value"))
        @linkNewWindow(Messages("pages.common.companiesHouse.hiddenIntro.url"), Messages("pages.directorDetails.hiddenIntro.label"), "directorDetails")
        @Messages("pages.common.companiesHouse.hiddenIntro.2")
    </p>
    <p>
        @Messages("pages.common.companiesHouse.hiddenIntro2.1")
        @linkNewWindow(Messages("pages.common.companiesHouse.hiddenIntro2.url"), Messages("pages.common.companiesHouse.hiddenIntro2.label"), "directorDetails")
        @Messages("pages.common.companiesHouse.hiddenIntro2.2")
    </p>
}

@main_template(title = messages(s"pages.directorDetails.title")) {

    @payeErrorSummary(
        messages("app.common.errorSummaryLabel"), ninoForm, dataJourney=Some("DirectorNINOs")
    )

    <h1 class="form-title heading-xlarge" id="pageHeading">@Html(messages(s"pages.directorDetails.heading"))</h1>

    <div class="form-group">
        @hiddenDetails("directors", Messages("pages.directorDetails.information.dropdown.header"), hiddenDetailsContent)
    </div>

    @govHelpers.form(action = controllers.userJourney.routes.DirectorDetailsController.submitDirectorDetails()) {
        <div class="form-group">
            @oneOfManyErrorWrapper(ninoForm, formContent)
        </div>

        <div class="form-group">
            <button class="button" type="submit" id="continue" >@messages("app.common.saveAndContinue")</button>
        </div>
    }

}

