@import helpers.templates.{hiddenDetails, oneOfManyErrorWrapper, payeErrorSummary}
@import models.view.Ninos
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}

@(ninoForm: Form[Ninos], directorNames: Map[String, String])(implicit request: Request[_], messages: Messages)

@formContent = {
    <fieldset>
        <legend class="visuallyhidden">@messages("pages.directorDetails.legend")</legend>

        @helper.repeat(ninoForm("nino")) { ninoField =>
            <div class="form-field">
                @govHelpers.input(
                    ninoField,
                    '_inputClass -> "form-control-1-2 form-control--block",
                    '_labelClass -> "form-label",
                    '_inputHint -> {if(ninoField.name.filter("0123456789".toSet) == "0"){ messages("pages.directorDetails.input.hint-text") } else {""}},
                    '_label -> messages("pages.directorDetails.name-suffix", directorNames.getOrElse(ninoField.name.filter("0123456789".toSet),"Error fetching name"))
                )
            </div>
        }
    </fieldset>
}

@hiddenDetailsContent = {
    <p>@Html(Messages("pages.directorDetails.hiddenIntro", "https://ewf.companieshouse.gov.uk//seclogin?tc=1"))</p>

    <p>@Html(Messages("pages.directorDetails.hiddenIntro2", "https://www.gov.uk/limited-company-formation/register-your-company"))</p>
}

@main_template(title = messages(s"pages.directorDetails.title")) {

    @payeErrorSummary(
        messages("app.common.errorSummaryLabel"), ninoForm
    )

    <h1 class="form-title heading-xlarge" id="pageHeading">@Html(messages(s"pages.directorDetails.heading"))</h1>

    <div class="form-group">
        @hiddenDetails("directors", Messages("pages.directorDetails.information.dropdown.header"), hiddenDetailsContent)
    </div>

    @govHelpers.form(action = controllers.userJourney.routes.DirectorDetailsController.submitDirectorDetails()) {
        <div class="form-group">
            @oneOfManyErrorWrapper(ninoForm, formContent)
        </div>

        <div class="form-group">
            <button class="button" type="submit" id="continue" >@messages("app.common.saveAndContinue")</button>
        </div>
    }

}

