@import models.view.NatureOfBusiness
@import helpers.templates.payeTextArea
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}

@(sicForm: Form[NatureOfBusiness], companyName: String)(implicit request: Request[_], messages: Messages)

@name(id: String) = @{s"""<span id="$id">$companyName</span>"""}

@main_template(title = messages("pages.natureOfBusiness.title")) {

    @govHelpers.errorSummary(
        messages("app.common.errorSummaryLabel"), sicForm
    )

    <h1 class="form-title heading-xlarge" id="pageHeading">@Html(messages("pages.natureOfBusiness.heading"))</h1>

    <div class="form-group">
        <p id="lede-paragraph">@Html(messages("pages.natureOfBusiness.lede", name("company-lede")))</p>
    </div>

    @govHelpers.form(action = controllers.userJourney.routes.NatureOfBusinessController.submitNatureOfBusiness()) {

        <div class="form-group">
            <span id="hint-text" class="form-hint">@messages("pages.natureOfBusiness.hint")</span>
            @payeTextArea(
                sicForm("description"),
                '_inputClass -> "form-control--block",
                '_labelClass -> "form-label visuallyhidden",
                '_label -> messages("pages.natureOfBusiness.textArea.label"),
                '_percentageWidth -> 98,
                '_rows -> 5
            )
        </div>

        <div class="form-group">
            <button class="button" type="submit" id="continue" >@messages("app.common.saveAndContinue")</button>
        </div>
    }
}