@import models.view.NatureOfBusiness
@import helpers.templates.{payeTextArea, payeErrorSummary}
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}

@(sicForm: Form[NatureOfBusiness])(implicit request: Request[_], messages: Messages)

@main_template(title = messages("pages.natureOfBusiness.title")) {

    @payeErrorSummary(
        messages("app.common.errorSummaryLabel"), sicForm, dataJourney=Some("NatureOfBusiness")
    )

    <h1 class="form-title heading-xlarge" id="pageHeading">@Html(messages("pages.natureOfBusiness.heading"))</h1>

    <div class="form-group">
        <p id="lede-paragraph">@Messages("pages.natureOfBusiness.lede")</p>
    </div>

    @govHelpers.form(action = controllers.userJourney.routes.NatureOfBusinessController.submitNatureOfBusiness()) {

        <div class="form-group">
            @payeTextArea(
                sicForm("description"),
                '_inputClass -> "form-control--block",
                '_labelClass -> "form-label",
                '_label -> messages("pages.natureOfBusiness.textArea.label"),
                '_percentageWidth -> 98,
                '_rows -> 5
            )
        </div>

        <div class="form-group">
            <button class="button" type="submit" id="continue" >@messages("app.common.saveAndContinue")</button>
        </div>
    }
}