@import helpers.templates.summaryRow
@import models.view.Summary
@import uk.gov.hmrc.play.views.html.helpers.form

@(summaryModel: Summary)(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("pages.summary.description")) {
    <h1 class="form-title heading-large" id="pageHeading">@Messages("pages.summary.description")</h1>

    @for(section <- summaryModel.sections) {
        <h2 class="heading-medium" id="@{section.id}SectionHeading">@Messages(s"pages.summary.${section.id}.sectionHeading")</h2>
        <dl class="govuk-check-your-answers cya-questions-long" id="@{section.id}Table">
            @for(row <- section.rows) {
                @summaryRow(row)
            }
        </dl>
    }
    <br>
    <div class="form-group">
        <h2 class="heading-medium">@Messages("pages.summary.heading2")</h2>
        <p>@Messages("pages.summary.information")</p>
    </div>

    @form(action = controllers.userJourney.routes.SummaryController.submitRegistration()) {
        <div class="form-group">
            <button class="button" type="submit" id="continue" >@messages("app.common.submitYourApplication")</button>
        </div>
    }
}