@import helpers.templates.summaryRow
@import models.view.Summary
@import uk.gov.hmrc.play.views.html.helpers.form

@(summaryModel: Summary)(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("pages.summary.title"), pageCSS = Some(Html(s"""<link rel="stylesheet" href="${routes.Assets.at("stylesheets/summary.css")}">"""))) {
    <h1 class="form-title heading-xlarge" id="pageHeading">@Messages("pages.summary.heading")</h1>

    @for(section <- summaryModel.sections) {
        <table class="check-your-answers multiple-sections">
            <caption class="heading-medium" id="@{section.id}SectionHeading">@Messages(s"pages.summary.${section.id}.sectionHeading")</caption>
            <thead class="visuallyhidden">
                <tr>
                    <th>We asked for</th>
                    <th>You answered</th>
                    <th>Change your answer</th>
                </tr>
            </thead>
            <tbody>
            @for(row <- section.rows) {
                @summaryRow(row)
            }
            </tbody>
        </table>
    }

    <div class="form-group">
        <div class="indent">
            <p>@messages("pages.summary.information.indent")</p>
        </div>
    </div>
    @form(action = controllers.userJourney.routes.SummaryController.submitRegistration()) {
        <div class="form-group">
            <button class="button" type="submit" id="continue" >@messages("app.common.submitYourApplication")</button>
        </div>
    }
}