@()(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html.helpers.form

@main_template(title = Messages("pages.welcome.title")) {


<div class="grid-row">
    <div class="column-one-third">

        <header class="page-header">
            <h1 class="form-title heading-xlarge" id="pageHeading">@Messages("pages.welcome.heading")</h1>
        </header>

        <p class="lede spaced-below" id="subHeading">@Messages("pages.welcome.heading.register")</p>

        <div class="spaced-below">
            <ul class="list list-bullet">
                <li id="pay">@Messages("pages.welcome.bullet.pay")</li>
                <li id="subcontractors">@Messages("pages.welcome.bullet.subcontractors")</li>
            </ul>
        </div>

        <p class="spaced-below" id="otherWaysToRegister">@Html(Messages("pages.welcome.otherWaysToRegister", "https://www.gov.uk/register-employer/y/yes/no/limited-company/no/no#other-ways-to-register"))</p>


        @form(action = controllers.userJourney.routes.WelcomeController.submit()) {
        <div class="form-group spaced-above">
            <button class="button-get-started" role="button" id="continue">@Messages("app.common.startNow")</button>
        </div>
        }

        <h2>@Messages("pages.welcome.beforeStart")</h2>


        <p id="cost spaced-below">@Messages("pages.welcome.2months")</p>
        <p id="nino spaced-below">@Messages("pages.welcome.nino")</p>

        <div class="form-group spaced-below">
            <div class="panel-indent">
                <p id="info">@Messages("pages.welcome.director")</p>
            </div>
        </div>


        <p class="spaced-below">@Messages("pages.welcome.yourApplication")</p>
        <ul class="list list-bullet spaced-below">
            <li id="completionTime">@Messages("pages.welcome.bullet.timeToComplete")</li>
            <li id="processingTime">@Messages("pages.welcome.bullet.timeToProcess")</li>
        </ul>




    </div>

</div>
}
