@()(implicit request: Request[_], messages: Messages)

@import uk.gov.hmrc.play.views.html.helpers.form
@import helpers.templates.linkNewWindow

@main_template(title = Messages("pages.welcome.description")) {

        <header class="page-header">
            <h1 class="form-title heading-xlarge" id="pageHeading">@Messages("pages.welcome.description")</h1>
        </header>

        <p class="lede spaced-below" id="subHeading">@Messages("pages.welcome.heading1.register")</p>

        <p class="lede spaced-below" id="subHeading">@Messages("pages.welcome.heading2.register")</p>

        <div class="spaced-below">
            <ul class="list list-bullet">
                <li id="pay">@Messages("pages.welcome.bullet.pay")</li>
                <li id="pension">@Messages("pages.welcome.bullet.pension")</li>
                <li id="subcontractors">@Messages("pages.welcome.bullet.subcontractors")</li>
            </ul>
        </div>

        <p class="spaced-below" id="otherWaysToRegister">
            @Messages("pages.welcome.otherWaysToRegister1")
            @linkNewWindow("https://www.gov.uk/register-employer/y/yes/no/limited-company/no/no#other-ways-to-register", Messages("pages.welcome.otherWaysToRegister2"), "welcome")
            @Messages("pages.welcome.otherWaysToRegister3")
        </p>
        <ul class="list list-bullet spaced-below">
            <li id="completionTime">@Messages("pages.welcome.bullet.timeToComplete")</li>
            <li id="processingTime">@Messages("pages.welcome.bullet.timeToProcess")</li>
        </ul>
        <p id="cost spaced-below">@Messages("pages.welcome.2months")</p>

        @form(action = controllers.userJourney.routes.WelcomeController.submit()) {
            <div class="form-group spaced-above">
                <button class="button-get-started" role="button" id="continue">@Messages("app.common.startNow")</button>
            </div>
        }

        <h2>@Messages("pages.welcome.beforeStart")</h2>
        <p class="nino spaced-below">@Messages("pages.welcome.nino")</p>
        <p class="nino spaced-below">@Messages("pages.welcome.application")</p>
}
