@(backButtonEnabled: Boolean)(implicit messages: Messages)

<div id="global-header-bar"></div>
<div class="phase-banner">
    <p>
        <strong class="phase-tag">BETA</strong>
        <span>@Messages("app.common.feedbackFirst") <a href="@controllers.feedback.routes.FeedbackController.feedbackShow()">@Messages("app.common.feedbackSecond")</a> @Messages("app.common.feedbackThird")</span>
    </p>
</div>

@if(backButtonEnabled) {
    <a id="back" class="link-back" href="javascript:history.back()">@Messages("app.common.back")</a>
}

