@import helpers.templates.{oneOfManyErrorWrapper, payeErrorSummary}
@import models.DigitalContactDetails
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@(contactForm: Form[DigitalContactDetails])(implicit request: Request[_], messages: Messages)

@formContent = {
    <fieldset>
        <legend class="visuallyhidden">
            @Messages("pages.businessContact.heading")
        </legend>
        <div class="form-group">
            @govHelpers.input(
            contactForm("businessEmail"),
            '_inputClass -> "form-control-1-2",
            '_labelClass -> "form-label cascading",
            '_label -> messages("pages.businessContact.email")
            )
        </div>

        <div class="form-group">
            @govHelpers.input(
            contactForm("mobileNumber"),
            '_labelClass -> "form-label cascading",
            '_inputClass -> "form-control-1-2",
            '_label -> messages("pages.businessContact.mobile")
            )
        </div>

        <div>
            @govHelpers.input(
            contactForm("phoneNumber"),
            '_labelClass -> "form-label cascading",
            '_inputClass -> "form-control-1-2",
            '_label -> messages("pages.businessContact.phone")
            )
        </div>
    </fieldset>
}

@main_template(title = messages("pages.businessContact.title")) {


    @payeErrorSummary(
        messages("app.common.errorSummaryLabel"), contactForm
    )

    <h1 class="form-title heading-xlarge" id="pageHeading">@Messages("pages.businessContact.heading")</h1>

    <p id="p1">@messages("pages.businessContactDetails.p1")</p>
    <div class="form-group">
        <div class="indent">
            <p id="p2">@messages("pages.businessContactDetails.p2.indent")</p>
        </div>
    </div>


    @govHelpers.form(action = controllers.userJourney.routes.CompanyDetailsController.submitBusinessContactDetails()) {

        <div class="form-group">
            @oneOfManyErrorWrapper(contactForm, formContent)
        </div>

        <div class="form-group">
            <button class="button" type="submit" id="continue" >@messages("app.common.saveAndContinue")</button>
        </div>
    }
}
