@import helpers.templates.{addressBlockDisplay, hiddenDetails}
@import models.Address
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@(companyName : String, address : Address)(implicit request: Request[_], messages: Messages)

@main_template(title = messages("pages.confirmRO.title")) {

    <h1 class="form-title heading-xlarge" id="pageHeading">@Html(messages("pages.confirmRO.heading"))</h1>

    <p id="lead-paragraph">@messages("pages.confirmRO.lede", companyName)</p>

    @govHelpers.form(action = controllers.userJourney.routes.CompanyDetailsController.confirmRO()) {
        <div class="form-group">
            @addressBlockDisplay(address, "ro-address")
        </div>

        <div class="form-group">
            @hiddenDetails("incorrect-address-", Messages("pages.confirmRO.help.link"), incorrectAddressContent)
        </div>

        <div class="form-group">
            <button class="button" type="submit" id="continue" >@Messages("app.common.saveAndContinue")</button>
        </div>
    }
}

@incorrectAddressContent = {
    <p>@messages("pages.confirmRO.help.body") <a id="companies-house-link" href='@messages("pages.confirmRO.help.body.link.url")'>@messages("app.common.companies-houseinfo")</a>.</p>
}


