@import helpers.templates.{addressDisplay, payeInputRadioGroup, payeErrorSummary}
@import models.Address
@import models.view.{ChosenAddress, PrepopAddress}
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}

@(chooseAddressForm: Form[ChosenAddress], roAddress: Option[Address], ppobAddress: Option[Address], prepopAddresses: Map[Int, Address])(implicit request: Request[_], messages: Messages)

@main_template(title = messages("pages.ppobAddress.title")) {
    @payeErrorSummary(
        messages("app.common.errorSummaryLabel"),
        chooseAddressForm
    )

    <h1 class="form-title heading-xlarge" id="pageHeading">@Messages("pages.ppobAddress.heading")</h1>
       <p>@Messages("pages.ppobAddress.peopleIntro1")</p>
       <p>@Messages("pages.ppobAddress.peopleIntro2")</p>

    @govHelpers.form(action = controllers.userJourney.routes.CompanyDetailsController.submitPPOBAddress) {
        <div class="form-group">
            @payeInputRadioGroup(
                field = chooseAddressForm("chosenAddress"),
                Seq(
                    ppobAddress.map("ppobAddress" -> addressDisplay(_, "ppob").toString),
                    roAddress.map("roAddress" -> addressDisplay(_, "ro").toString)
                ).flatten.++(
                    prepopAddresses.map {case (k, v) => s"${PrepopAddress.prefix}$k" -> addressDisplay(v, s"${PrepopAddress.prefix.toLowerCase}$k").toString}.toList
                ).:+("other" -> messages("pages.ppobAddress.other")),
                '_legend -> messages("pages.ppobAddress.legend"),
                '_legendID -> "chosenAddress",
                '_helpText -> None,
                '_labelAfter -> true,
                '_labelClass -> "block-label",
                '_groupClass -> "block"
            )
        </div>

        <div class="form-group">
            <button class="button" type="submit" id="continue" >@Messages("app.common.saveAndContinue")</button>
        </div>
    }
}