@import helpers.templates.{formHiddenYesNoRadio, hiddenDetails, payeErrorSummary, payeInput}
@import models.view.TradingName
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}

@(tradingNameForm: Form[TradingName], companyName: String)(implicit request: Request[_], messages: Messages)

@hiddenYesNoContent = {
    @payeInput(
        tradingNameForm("tradingName"),
        '_labelClass -> "form-label cascading",
        '_label -> Messages("pages.tradingName.tradingNameLabel")
    )
}

@hiddenDetailsContent = {
    <p>@Messages("pages.tradingName.nameRulesIntro")</p>
    <p>@Html(messages("pages.tradingName.nameRulesIntro1", "https://beta.companieshouse.gov.uk/company-name-availability"))</p>
    <p>@Messages("pages.tradingName.nameRulesIntro2")</p>
    <ul class="list list-bullet">
        <li>@Messages("pages.tradingName.nameRules1")</li>
        <li>@Html(Messages("pages.tradingName.nameRules2", "https://www.gov.uk/search-for-trademark"))</li>
        <li>@Html(Messages("pages.tradingName.nameRules3", "https://www.gov.uk/government/publications/incorporation-and-names"))</li>
    </ul>
}

@main_template(title = Messages("pages.tradingName.title")) {

    @payeErrorSummary(
        Messages("app.common.errorSummaryLabel"), tradingNameForm, dataJourney=Some("TradingName")
    )

    <h1 class="form-title heading-xlarge" id="pageHeading">@Messages("pages.tradingName.heading")</h1>


     <p id="lead-paragraph">@messages("pages.tradingName.lede", companyName)</p>

     @hiddenDetails("tradingNameRules", Messages("pages.tradingName.nameRulesSummary"), hiddenDetailsContent)

    @govHelpers.form(action = controllers.userJourney.routes.CompanyDetailsController.submitTradingName) {

    <div class="inline form-group">
        @formHiddenYesNoRadio(
            tradingNameForm,
            "differentName",
            Messages("pages.tradingName.legend"),
            hiddenYesNoContent
        )

    </div>


    <button class="button" type="submit" id="continue" >@Messages("app.common.saveAndContinue")</button>
    }

}
