@import models.api.{PAYEContact => PAYEContactAPI}
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import helpers.templates.{inlineDateInput, payeErrorSummary}
@import pages.test.testHelpers.manualPrePopulatedInput

@(payeForm: Form[PAYEContactAPI])(implicit request: Request[_], messages: Messages)

@payeErrorSummary(
    Messages("app.common.errorSummaryLabel"), payeForm
)

<h1 class="form-title heading-xlarge" id="pageHeading">Enter PAYE Contact Details</h1>

@govHelpers.form(action = controllers.test.routes.TestRegSetupController.submitRegSetupPAYEContact) {

    <h2>Name and tel etc.</h2>
    <div class="inline form-group">
        @govHelpers.input(
        payeForm("payeContactDetails.name"),
        '_label -> "Contact name"
        )
    </div>
    <div class="inline form-group">
        @govHelpers.input(
        payeForm("payeContactDetails.digitalContactDetails.email"),
        '_label -> "Email"
        )
    </div>
    <div class="inline form-group">
        @govHelpers.input(
        payeForm("payeContactDetails.digitalContactDetails.mobileNumber"),
        '_label -> "Mobile number"
        )
    </div>
    <div class="inline form-group">
        @govHelpers.input(
        payeForm("payeContactDetails.digitalContactDetails.phoneNumber"),
        '_label -> "Phone number"
        )
    </div>

    <h2>Address</h2>
    <div class="inline form-group">
        @govHelpers.input(
        payeForm("correspondenceAddress.line1"),
        '_label -> "Address Line 1"
        )
    </div>
    <div class="inline form-group">
        @govHelpers.input(
        payeForm("correspondenceAddress.line2"),
        '_label -> "Address Line 2"
        )
    </div>
    <div class="inline form-group">
        @govHelpers.input(
        payeForm("correspondenceAddress.line3"),
        '_label -> "Address Line 3 (optional)"
        )
    </div>
    <div class="inline form-group">
        @govHelpers.input(
        payeForm("correspondenceAddress.line4"),
        '_label -> "Address Line 4 (optional)"
        )
    </div>
    <div class="inline form-group">
        @govHelpers.input(
        payeForm("correspondenceAddress.postCode"),
        '_label -> "Address Postcode (optional)"
        )
    </div>
    <div class="inline form-group">
        @govHelpers.input(
        payeForm("correspondenceAddress.country"),
        '_label -> "Address Country (optional)"
        )
    </div>
    <div class="inline form-group">
        @govHelpers.input(
        payeForm("correspondenceAddress.auditRef"),
        '_label -> "Address Audit Ref (optional)"
        )
    </div>



    <button class="button" type="submit" id="continue" >Submit</button>

}
