@import models.api.{PAYERegistration => PAYERegistrationAPI}
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import helpers.templates.inlineDateInput
@import pages.test.testHelpers.manualPrePopulatedInput

@(payeForm: Form[PAYERegistrationAPI], regID: String)(implicit request: Request[_], messages: Messages)


@main_template(title = "Enter PAYE Details") {

    @govHelpers.errorSummary(
        Messages("app.common.errorSummaryLabel"), payeForm
    )

    <h1 class="form-title heading-xlarge" id="pageHeading">Enter PAYE Registration Details</h1>

    @govHelpers.form(action = controllers.test.routes.TestRegSetupController.submitRegSetup) {


        <div class="inline form-group">
            @manualPrePopulatedInput(
            payeForm("registrationID"),
            '_label -> "Registration ID",
            '_value -> regID
            )
        </div>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("formCreationTimestamp"),
            '_label -> "Form Creation Timestamp"
            )
        </div>

        <div class="inline form-group">
            @govHelpers.input(
            payeForm("crn"),
            '_label -> "CRN (optional)"
            )
        </div>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("companyDetails.companyName"),
            '_label -> "Company name"
            )
        </div>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("companyDetails.tradingName"),
            '_label -> "Trading name (optional)"
            )
        </div>

        <div class="inline form-group">
            @govHelpers.input(
            payeForm("companyDetails.roAddress.line1"),
            '_label -> "RO Address Line 1"
            )
        </div>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("companyDetails.roAddress.line2"),
            '_label -> "RO Address Line 2"
            )
        </div>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("companyDetails.roAddress.line3"),
            '_label -> "RO Address Line 3 (optional)"
            )
        </div>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("companyDetails.roAddress.line4"),
            '_label -> "RO Address Line 4 (optional)"
            )
        </div>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("companyDetails.roAddress.postCode"),
            '_label -> "RO Address Postcode (optional)"
            )
        </div>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("companyDetails.roAddress.country"),
            '_label -> "RO Address Country (optional)"
            )
        </div>

        <div class="inline form-group">
        @govHelpers.input(
            payeForm("companyDetails.businessContactDetails.businessEmail"),
            '_label -> "Business email (optional)"
        )
        </div>
        <div class="inline form-group">
        @govHelpers.input(
            payeForm("companyDetails.businessContactDetails.mobileNumber"),
            '_label -> "Mobile number (optional)"
        )
        </div>
        <div class="inline form-group">
        @govHelpers.input(
            payeForm("companyDetails.businessContactDetails.phoneNumber"),
            '_label -> "Business telephone (optional)"
        )
        </div>

        <div class="inline form-group">
            @govHelpers.input(
            payeForm("employment.employees"),
            '_label -> "Employees"
            )
        </div>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("employment.companyPension"),
            '_label -> "Company Pension (optional)"
            )
        </div>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("employment.subcontractors"),
            '_label -> "Subcontractors"
            )
        </div>
        <div class="inline form-group">
            @inlineDateInput(
            payeForm,
            "employment.firstPayDate",
            "First Pay Date",
            None)
        </div>


        <h2>Nature of Business</h2>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("sicCodes[0].description"),
            '_label -> "SIC Code description (optional)"
            )
        </div>

        <h2>Director Details</h2>
        <h3>Director 1</h3>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("directors[0].name.firstName"),
            '_label -> "Firstname (optional)"
            )
        </div>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("directors[0].name.middleName"),
            '_label -> "Middlename (optional)"
            )
        </div>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("directors[0].name.lastName"),
            '_label -> "Lastname (optional)"
            )
        </div>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("directors[0].name.title"),
            '_label -> "Title (optional)"
            )
        </div>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("directors[0].nino"),
            '_label -> "Nino (optional)"
            )
        </div>
        <h3>Director 2</h3>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("directors[1].name.firstName"),
            '_label -> "Firstname (optional)"
            )
        </div>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("directors[1].name.middleName"),
            '_label -> "Middlename (optional)"
            )
        </div>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("directors[1].name.lastName"),
            '_label -> "Lastname (optional)"
            )
        </div>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("directors[1].name.title"),
            '_label -> "Title (optional)"
            )
        </div>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("directors[1].nino"),
            '_label -> "Nino (optional)"
            )
        </div>
        <h3>Director 3</h3>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("directors[2].name.firstName"),
            '_label -> "Firstname (optional)"
            )
        </div>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("directors[2].name.middleName"),
            '_label -> "Middlename (optional)"
            )
        </div>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("directors[2].name.lastName"),
            '_label -> "Lastname (optional)"
            )
        </div>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("directors[2].name.title"),
            '_label -> "Title (optional)"
            )
        </div>
        <div class="inline form-group">
            @govHelpers.input(
            payeForm("directors[2].nino"),
            '_label -> "Nino (optional)"
            )
        </div>

        <button class="button" type="submit" id="continue" >Submit</button>

    }
}
