@import models.test.testSetupFormModels.CompanyDetailsSetupFormModel
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}

@(detailsForm: Form[CompanyDetailsSetupFormModel])(implicit request: Request[_], messages: Messages)


@main_template(title = "Enter Company Details") {

@govHelpers.errorSummary(
    Messages("app.common.errorSummaryLabel"), detailsForm
)

<h1 class="form-title heading-xlarge" id="pageHeading">Enter test company details</h1>

@govHelpers.form(action = controllers.test.routes.TestRegSetupController.submitRegSetupCompanyDetails) {


    <div class="inline form-group">
        @govHelpers.input(
        detailsForm("crn"),
        '_label -> "CRN (optional)"
        )
    </div>
    <div class="inline form-group">
        @govHelpers.input(
        detailsForm("companyName"),
        '_label -> "Company name"
        )
    </div>
    <div class="inline form-group">
        @govHelpers.input(
        detailsForm("tradingName"),
        '_label -> "Trading name (optional)"
        )
    </div>


    <button class="button" type="submit" id="continue" >Submit</button>

    }
}
