@import models.Address
@import models.view.{ChosenAddress, PrepopAddress}
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@import views.html.helpers.templates.{payeInputRadioGroup, addressDisplay}

@(chooseAddressForm: Form[ChosenAddress], roAddress: Option[Address], correspondenceAddress: Option[Address], prepopAddresses: Map[Int, Address])(implicit request: Request[_], messages: Messages)

@main_template(title = messages("pages.correspondenceAddress.title")) {
    @govHelpers.errorSummary(
        messages("app.common.errorSummaryLabel"),
        chooseAddressForm
    )

    <h1 class="form-title heading-xlarge" id="pageHeading">@Messages("pages.correspondenceAddress.title")</h1>
    <div class="form-group">
        <p>@messages("pages.correspondenceAddress.lede")</p>
    </div>

    @govHelpers.form(action = controllers.userJourney.routes.PAYEContactController.submitPAYECorrespondenceAddress) {
        <div class="form-group">
            @payeInputRadioGroup(
                field = chooseAddressForm("chosenAddress"),
                Seq(
                    correspondenceAddress.map("correspondenceAddress" -> addressDisplay(_, "correspondence").toString),
                    roAddress.map("roAddress" -> addressDisplay(_, "ro").toString)
                ).flatten.++(
                    prepopAddresses.map {case (k, v) => s"${PrepopAddress.prefix}$k" -> addressDisplay(v, s"${PrepopAddress.prefix.toLowerCase}$k").toString}.toList
                ).:+("other" -> messages("pages.correspondenceAddress.other")),
                '_legend -> messages("pages.correspondenceAddress.legend"),
                '_legendID -> "chosenAddress",
                '_helpText -> None,
                '_labelAfter -> true,
                '_labelClass -> "block-label",
                '_groupClass -> "block"
            )
        </div>

        <div class="form-group">
            <button class="button" type="submit" id="continue" >@Messages("app.common.saveAndContinue")</button>
        </div>
    }
}