@import helpers.templates.{oneOfManyErrorWrapper, payeErrorSummary, payeInput}
@import models.view.PAYEContactDetails
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}
@(contactForm: Form[PAYEContactDetails])(implicit request: Request[_], messages: Messages)

@formContent = {
    <fieldset>
        <legend class="visuallyhidden">
            @Messages("pages.payeContact.heading")
        </legend>
        <div class="form-group">
            @payeInput(
            contactForm("digitalContact.contactEmail"),
            '_inputClass -> "form-control-1-2",
            '_labelClass -> "form-label cascading",
            '_label -> messages("pages.payeContact.email")
            )
        </div>

        <div class="form-group">
            @payeInput(
            contactForm("digitalContact.mobileNumber"),
            '_labelClass -> "form-label cascading",
            '_inputClass -> "form-control-1-2",
            '_label -> messages("pages.payeContact.contact")
            )
        </div>

        <div>
            @payeInput(
            contactForm("digitalContact.phoneNumber"),
            '_labelClass -> "form-label cascading",
            '_inputClass -> "form-control-1-2",
            '_label -> messages("pages.payeContact.othercontact")
            )
        </div>
    </fieldset>
}

@main_template(title = messages("pages.payeContact.title")) {

    @payeErrorSummary(
        messages("app.common.errorSummaryLabel"), contactForm, dataJourney=Some("PAYEContactDetails")
    )

    <h1 class="form-title heading-xlarge" id="pageHeading">@Messages("pages.payeContact.heading")</h1>

    @govHelpers.form(action = controllers.userJourney.routes.PAYEContactController.submitPAYEContactDetails()) {

        <div class="form-group">
            <fieldset>
                <legend class="visuallyhidden">
                    @Html(messages("pages.payeContact.p1"))
                </legend>
                <div class="form-group">
                    @payeInput(
                    contactForm("name"),
                    '_inputClass -> "form-control-1-2",
                    '_labelClass -> "form-label cascading",
                    '_label -> messages("pages.payeContact.contactName")
                    )
                </div>
            </fieldset>
            @oneOfManyErrorWrapper(contactForm, formContent)
        </div>

        <div class="form-group">
            <button class="button" type="submit" id="continue" >@messages("app.common.saveAndContinue")</button>
        </div>
    }
}
