/*
=====================================
Error styling to bring in line with GDS
=====================================
*/
.error-notification {
    font-size: 19px;
    font-weight: bold;
    color: #b10e1e;
    display: block;
}
