@import models.Address
@(address : Address, blockId : String)

    <span id="@{blockId}-address-line-1">@address.line1</span><span
    id="@{blockId}-address-line-2">, @address.line2</span>@address.line3.map {item =><span
    id="@{blockId}-address-line-3">, @item</span>}@address.line4.map {item =><span
    id="@{blockId}-address-line-4">, @item</span>}@address.postCode.map {item =><span
    id="@{blockId}-post-code">, @item</span>}@address.country.map {item =><span
    id="@{blockId}-country">, @item</span>}
