@import models.view.SummaryRow

@(row: SummaryRow)(implicit messages: Messages)

@displayAnswer(ans: String) = {
    @ans<br>
}

<div>
  <dt id="@{row.id}Question" class="cya-question">@Html(Messages(s"pages.summary.${row.commonQuestionKey.getOrElse(row.id)}.question", row.questionArgs.getOrElse(Nil):_*))</dt>
  <dd class="cya-answer" id="@{row.id}Answer">
    @for(answer <- row.answers) {
      @answer.fold(
      messageKey => Messages(s"pages.summary.${row.id}.answers.$messageKey"),
      ans => displayAnswer(ans)
      )
    }
  </dd>
  <dd class="cya-change">
    @row.changeLink.map { linkLocation =>
      <a href="@linkLocation" id="@{row.id}ChangeLink">@Messages("app.common.change")
      <span class ="visually-hidden" id="@{row.id}HelpText">&nbsp; @Messages(s"pages.summary.${row.id}.hiddenChangeText")</span></a>
    }
  </dd>
</div>