@import helpers.templates.{payeInputRadioGroup, payeErrorSummary}
@import models.view.DirectorEligibility
@import uk.gov.hmrc.play.views.html.{helpers => govHelpers}

@(directorEligibilityForm: Form[DirectorEligibility])(implicit request: Request[_], messages: Messages)

@main_template(title = Messages("pages.directorEligibility.title")) {
    @payeErrorSummary(
        Messages("app.common.errorSummaryLabel"), directorEligibilityForm, dataJourney=Some("DirectorEligibility")
    )
    <h1 class="form-title heading-xlarge" id="pageHeading">@Messages("pages.directorEligibility.heading")</h1>

    <p>@Messages("pages.employingStaff.directorEligibilityRulesIntro1")</p>
    <p>@Messages("pages.employingStaff.directorEligibilityRulesIntro2")</p>
    <ul class="list list-bullet">
    <li>@Messages("pages.employingStaff.directorEligibility1")</li>
    <li>@Messages("pages.employingStaff.directorEligibility2")</li>
        <li>@Messages("pages.employingStaff.directorEligibility3")</li>
        <li>@Messages("pages.employingStaff.directorEligibility4")</li>

    </ul>

    @govHelpers.form(action = controllers.userJourney.routes.EligibilityController.submitDirectorEligibility()) {
        <div class="inline form-group">
        @payeInputRadioGroup(
            directorEligibilityForm("isEligible"),
            Seq(
                "true"->Messages("app.common.yes"),
                "false"->Messages("app.common.no")
            ),
            '_legend -> Messages("pages.directorEligibility.heading"),
            '_legendID -> "directorEligibility",
            '_helpText -> None,
            '_labelAfter -> true,
            '_labelClass -> "block-label",
            '_groupClass -> "inline"
        )
        </div>
        <button class="button" type="submit" id="continue" >@Messages("app.common.saveAndContinue")</button>
    }
}